Step 3 - Climate Analysis and Exploration
-------------------------------------------
You are now ready to use Python and SQLAlchemy to do basic climate analysis and data exploration on your new weather station tables. All of the following analysis should be completed using SQLAlchemy ORM queries, Pandas, and Matplotlib.

Create a Jupyter Notebook file called climate_analysis.ipynb and use it to complete your climate analysis and data exporation.

Choose a start date and end date for your trip. Make sure that your vacation range is approximately 3-15 days total.

Use SQLAlchemy create_engine to connect to your sqlite database.

Use SQLAlchemy automap_base() to reflect your tables into classes and save a reference to those classes called Station and Measurement.

In [1]:
%matplotlib inline
#Matplotlib
import matplotlib.pyplot as plt

#Pandas
import pandas as pd

#SQLAlchemy
from sqlalchemy import create_engine, inspect, func, \
                        Column, Integer, String, Float, DECIMAL
from sqlalchemy.orm import Session    
from sqlalchemy.ext.automap import automap_base
Base = automap_base()

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

#Datetime
import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")
session = Session(engine)

In [3]:
inspector = inspect(engine)
tables = inspector.get_table_names()
for table in tables:
    print(table)
    columns = inspector.get_columns(table)
    for c in columns:
        print(c['name'], c["type"])
    print("\n")

measurement
id INTEGER
station VARCHAR(11)
date VARCHAR(10)
prcp FLOAT
tobs INTEGER


station
id INTEGER
station VARCHAR(11)
name VARCHAR(255)
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [4]:
Base.prepare(engine, reflect=True)
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
session.query(Station.name).all()

[('WAIKIKI 717.2, HI US'),
 ('KANEOHE 838.1, HI US'),
 ('KUALOA RANCH HEADQUARTERS 886.9, HI US'),
 ('PEARL CITY, HI US'),
 ('UPPER WAHIAWA 874.3, HI US'),
 ('WAIMANALO EXPERIMENTAL FARM, HI US'),
 ('WAIHEE 837.5, HI US'),
 ('HONOLULU OBSERVATORY 702.2, HI US'),
 ('MANOA LYON ARBO 785.2, HI US')]

In [6]:
first = session.query(Measurement.date).order_by(Measurement.date).first()
last = session.query(Measurement.date).order_by(Measurement.date.desc()).first()

print(f"Date range: {first[0]} to {last[0]}")

Date range: 2010-01-01 to 2017-08-23

In [28]:
import datetime as dt
from datetime import datetime as dtdt

In [29]:
query_date = dtdt.strptime(last[0],'%Y-%m-%d') - dt.timedelta(days=365)
print("Original Date: ", last[0])
print("Query Date: ", query_date)

Original Date:  2017-08-23
Query Date:  2016-08-23 00:00:00

In [16]:
#print(dt.date(last[0]) - dt.timedelta(days=7))
sel = [Measurement.station, 
       func.avg(Measurement.prcp), 
       func.avg(Measurement.tobs)]

may_averages = session.query(*sel).\
filter(func.strftime("%m", Measurement.date) == "05").\
    group_by(Measurement.station).\
    order_by(Measurement.station).all()
    
may_averages

[('USC00511918', 0.04161676646706586, 72.1497005988024),
 ('USC00513117', 0.12601626016260165, 72.65853658536585),
 ('USC00514830', 0.10548192771084332, 75.28915662650603),
 ('USC00516128', 0.36954337899543355, 71.1324200913242),
 ('USC00517948', 0.06749999999999999, 75.65),
 ('USC00518838', 0.19536585365853654, 73.26829268292683),
 ('USC00519281', 0.23451612903225813, 72.0),
 ('USC00519397', 0.04020833333333332, 76.19166666666666),
 ('USC00519523', 0.08573839662447257, 75.43881856540085)]

Precipitation Analysis
-----------------------
Design a query to retrieve the last 12 months of precipitation data.

Select only the date and prcp values.

Load the query results into a Pandas DataFrame and set the index to the date column.

Plot the results using the DataFrame plot method.


Use Pandas to print the summary statistics for the precipitation data.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html