Step 2 - Database Engineering
-----------------------------------
Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your Database Engineering work.

Use Pandas to read your cleaned measurements and stations CSV data.

Use the engine and connection string to create a database called hawaii.sqlite.

Use declarative_base and create ORM classes for each table.

You will need a class for Measurement and for Station.
Make sure to define your primary keys.
Once you have your ORM classes defined, create the tables in the database using create_all.

In [2]:
#Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine, Column, Integer, String, Float, DECIMAL

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [23]:
#Read files
measurements = "Resources/clean_hawaii_measurements.csv"
stations = "Resources/hawaii_stations.csv"

measurements_df = pd.read_csv(measurements, low_memory=False)
stations_df = pd.read_csv(stations, low_memory=False)

https://stackoverflow.com/questions/16284537/sqlalchemy-creating-an-sqlite-database-if-it-doesnt-exist?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

In [34]:
# Create Database Connection

#JAWSDB 
#engine = create_engine('mysql://qr01nnnc3q4skw3z:sco6bnz7r7642hck@mwgmw3rs78pvwk4e.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/tyvr0xzninwngzbi')

#Local file
engine = create_engine("sqlite:///hawaii.sqlite", echo=True)
                       
conn = engine.connect()

2018-04-07 04:53:11,375 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-04-07 04:53:11,377 INFO sqlalchemy.engine.base.Engine ()
2018-04-07 04:53:11,379 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-04-07 04:53:11,380 INFO sqlalchemy.engine.base.Engine ()

In [3]:
#Create Measurement and Station Classes

class Measurements(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(11))
    date = Column(String(10))
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(11))
    name = Column(String(255))  
    latitude = Column(DECIMAL(7,5))
    longitude = Column(DECIMAL(8,5))
    elevation = Column(DECIMAL(4,1))

In [35]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

2018-04-07 04:53:15,788 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurement")
2018-04-07 04:53:15,791 INFO sqlalchemy.engine.base.Engine ()
2018-04-07 04:53:15,793 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("station")
2018-04-07 04:53:15,794 INFO sqlalchemy.engine.base.Engine ()
2018-04-07 04:53:15,796 INFO sqlalchemy.engine.base.Engine
CREATE TABLE measurement (
	id INTEGER NOT NULL,
	station VARCHAR(11),
	date VARCHAR(10),
	prcp FLOAT,
	tobs INTEGER,
	PRIMARY KEY (id)
)


2018-04-07 04:53:15,797 INFO sqlalchemy.engine.base.Engine ()
2018-04-07 04:53:15,836 INFO sqlalchemy.engine.base.Engine COMMIT
2018-04-07 04:53:15,838 INFO sqlalchemy.engine.base.Engine
CREATE TABLE station (
	id INTEGER NOT NULL,
	station VARCHAR(11),
	name VARCHAR(255),
	latitude FLOAT,
	longitude FLOAT,
	elevation FLOAT,
	PRIMARY KEY (id)
)


2018-04-07 04:53:15,840 INFO sqlalchemy.engine.base.Engine ()
2018-04-07 04:53:15,876 INFO sqlalchemy.engine.base.Engine COMMIT

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html
#DataFrame.to_sql(name, con, flavor=None, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None)

In [36]:
measurements_df.to_sql("measurement", conn, if_exists='append', index=False)
stations_df.to_sql("station", conn, if_exists='append', index=False)

2018-04-07 04:53:20,713 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurement")
2018-04-07 04:53:20,715 INFO sqlalchemy.engine.base.Engine ()
2018-04-07 04:53:20,723 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-07 04:53:21,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurement (station, date, prcp, tobs) VALUES (?, ?, ?, ?)
2018-04-07 04:53:21,152 INFO sqlalchemy.engine.base.Engine (('USC00519397', '2010-01-01', 0.08, 65), ('USC00519397', '2010-01-02', 0.0, 63), ('USC00519397', '2010-01-03', 0.0, 74), ('USC00519397', '2010-01-04', 0.0, 76), ('USC00519397', '2010-01-07', 0.06, 70), ('USC00519397', '2010-01-08', 0.0, 64), ('USC00519397', '2010-01-09', 0.0, 68), ('USC00519397', '2010-01-10', 0.0, 73)  ... displaying 10 of 18103 total bound parameter sets ...  ('USC00516128', '2017-08-22', 0.5, 76), ('USC00516128', '2017-08-23', 0.45, 76))
2018-04-07 04:53:21,228 INFO sqlalchemy.engine.base.Engine COMMIT
2018-04-07 04:53:21,261 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("station")
2018-04-07 04:53:21,262 INFO sqlalchemy.engine.base.Engine ()
2018-04-07 04:53:21,264 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-07 04:53:21,266 INFO sqlalchemy.engine.base.Engine INSERT INTO station (station, name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?)
2018-04-07 04:53:21,268 INFO sqlalchemy.engine.base.Engine (('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9), ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))
2018-04-07 04:53:21,271 INFO sqlalchemy.engine.base.Engine COMMIT